@charset "UTF-8";
.level1-dropdown {
  box-sizing: border-box; }
  @media only screen and (max-width: 1199px) {
    .level1-dropdown {
      width: 940px !important; } }
  @media only screen and (max-width: 979px) {
    .level1-dropdown {
      width: 724px !important; } }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

#sfo-gifts-gadgets {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans','Myriad Pro',Arial,sans-serif;
  float: left;
  margin-left: 30px;
  max-width: 1170px;
  width: 100%; }
  @media only screen and (max-width: 1199px) {
    #sfo-gifts-gadgets {
      margin-left: 10px;
      max-width: 940px; } }
  @media only screen and (max-width: 979px) {
    #sfo-gifts-gadgets {
      max-width: 724px; } }
  #sfo-gifts-gadgets a {
    text-decoration: none; }
  #sfo-gifts-gadgets .full-width {
    width: 100%; }
  #sfo-gifts-gadgets .sfo-article {
    float: left;
    padding-bottom: 1em;
    width: 19.9145299145%;
    position: relative;
    height: 268px; }
    @media only screen and (max-width: 1199px) {
      #sfo-gifts-gadgets .sfo-article {
        width: 19.8936170213%;
        height: 220px; } }
    @media only screen and (max-width: 979px) {
      #sfo-gifts-gadgets .sfo-article {
        width: 24.861878453%;
        height: 211px; } }
    #sfo-gifts-gadgets .sfo-article + .sfo-article {
      border-left: 1px dashed #96a46f; }
    #sfo-gifts-gadgets .sfo-article:last-child {
      border-right: 1px solid #96a46f; }
    #sfo-gifts-gadgets .sfo-article img {
      max-width: 100%; }
    #sfo-gifts-gadgets .sfo-article p {
      color: #96a46f;
      margin: 40px 0 0;
      text-align: center;
      font-style: italic;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 34px;
      font-weight: 100;
      transform: rotate(-7deg); }
      #sfo-gifts-gadgets .sfo-article p .all-gadgets-span {
        font-size: 11px;
        display: inline-block;
        color: #ffffff;
        background-color: #96a46f;
        padding: 10px 15px;
        text-transform: none;
        margin-bottom: 7px;
        line-height: 7px;
        font-style: normal;
        float: none;
        width: initial;
        min-height: inherit; }
      @media only screen and (max-width: 1199px) {
        #sfo-gifts-gadgets .sfo-article p {
          margin: 30px 0; } }
      @media only screen and (max-width: 979px) {
        #sfo-gifts-gadgets .sfo-article p {
          float: left;
          height: 100%;
          line-height: 80px;
          margin: 0;
          padding: 0;
          width: 100%; } }
  #sfo-gifts-gadgets .sfo-cta {
    background: #ffffff;
    border: 2px solid #96a46f;
    border-radius: 2px;
    color: #96a46f;
    display: block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding: 0 12px;
    text-decoration: none;
    transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
    width: 60%;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0; }
    @media only screen and (max-width: 1199px) {
      #sfo-gifts-gadgets .sfo-cta {
        font-size: 11px;
        padding: 0 8px; } }
    #sfo-gifts-gadgets .sfo-cta:after {
      content: "";
      float: right;
      font-family: "FontAwesome";
      line-height: 42px; }
    #sfo-gifts-gadgets .sfo-cta:hover, #sfo-gifts-gadgets .sfo-cta:focus {
      background: #96a46f;
      color: #ffffff; }
  #sfo-gifts-gadgets .all-gadgets {
    background-color: #96a46f;
    background: url("http://static.asadventure.com/includes/banner/special_flyout/150402-gifts-gadgets/images/background.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 18px; }
    @media only screen and (max-width: 1199px) {
      #sfo-gifts-gadgets .all-gadgets {
        max-width: 187px;
        height: 215px; } }
    @media only screen and (max-width: 979px) {
      #sfo-gifts-gadgets .all-gadgets {
        height: 60px;
        max-width: 100%;
        width: 100%;
        background: #96a46f; }
        #sfo-gifts-gadgets .all-gadgets p {
          display: none; } }
    #sfo-gifts-gadgets .all-gadgets .all-gadgets-filler {
      max-width: 100%;
      padding-bottom: 26%;
      width: 100%; }
      @media only screen and (max-width: 1199px) {
        #sfo-gifts-gadgets .all-gadgets .all-gadgets-filler {
          padding-bottom: 0; } }
      @media only screen and (max-width: 979px) {
        #sfo-gifts-gadgets .all-gadgets .all-gadgets-filler {
          float: left; } }
      #sfo-gifts-gadgets .all-gadgets .all-gadgets-filler hr {
        background: #ffffff;
        border: none;
        height: 1px;
        margin: 1.5em auto 1.2em;
        width: 40%; }
        @media only screen and (max-width: 1199px) {
          #sfo-gifts-gadgets .all-gadgets .all-gadgets-filler hr {
            margin: 1.5em auto 2.6em; } }
        @media only screen and (max-width: 979px) {
          #sfo-gifts-gadgets .all-gadgets .all-gadgets-filler hr {
            display: none; } }
    #sfo-gifts-gadgets .all-gadgets .sfo-cta {
      background: #96a46f;
      border: 2px solid #ffffff;
      color: #ffffff;
      height: 40px;
      line-height: 40px;
      width: 70%; }
      @media only screen and (max-width: 979px) {
        #sfo-gifts-gadgets .all-gadgets .sfo-cta {
          float: left;
          margin-top: 16px;
          width: 50%;
          margin-left: 25%;
          bottom: 16px; } }
      #sfo-gifts-gadgets .all-gadgets .sfo-cta:after {
        line-height: 39px; }
      #sfo-gifts-gadgets .all-gadgets .sfo-cta:hover, #sfo-gifts-gadgets .all-gadgets .sfo-cta:focus {
        background: #ffffff;
        color: #96a46f; }
