$accentColor: #96a46f;
$hoverColor: darken($accentColor, 5%);
$mainColor: #ffffff;


.level1-dropdown{
	box-sizing: border-box;

	@media only screen and(max-width: 1199px) {
		width: 940px !important;
	}

	@media only screen and(max-width: 979px) {
		width: 724px !important;
	}
}

.clearfix:after{
	clear: both;
	content: "";
	display: table;
}

#sfo-gifts-gadgets{
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-family: 'Open Sans','Myriad Pro',Arial,sans-serif;
	float: left;
	margin-left: 30px;
	max-width: 1170px;
	width: 100%;

	@media only screen and(max-width: 1199px) {
		margin-left: 10px;
		max-width: 940px;
	}

	@media only screen and(max-width: 979px) {
		max-width: 724px;
	}

	a{
		text-decoration: none;
	}

	.full-width{
		width: 100%;
	}

	.sfo-article{
		float: left;
		padding-bottom: 1em;
		width: percentage(233/1170);
		position: relative;
		height: 268px;

		@media only screen and(max-width: 1199px) {
			width: percentage(187/940);
			height: 220px;

		}

		@media only screen and(max-width: 979px) {
			width: percentage(180/724);
			height: 211px
		}

		& + .sfo-article{
			border-left: 1px dashed $accentColor;
		}

		&:last-child{
			border-right: 1px solid $accentColor;
		}

		img{
			max-width: 100%;
		}

		p{
			color: $accentColor;
			margin: 40px 0 0;
			text-align: center;
			font-style: italic;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 34px;
			font-weight: 100;
			transform: rotate(-7deg);

			.all-gadgets-span {
				font-size: 11px;
				display: inline-block;
				color: $mainColor;
				background-color: $accentColor;
				padding: 10px 15px;
				text-transform: none;
				margin-bottom: 7px; 
				line-height: 7px;
				font-style: normal;
				float: none;
				width: initial;
				min-height: inherit;
				 }

			@media only screen and(max-width: 1199px) {
				margin: 30px 0;
			}

			@media only screen and(max-width: 979px) {
				float: left;
				height: 100%;
				line-height: 80px;
				margin: 0;
				padding: 0;
				width: 100%;
			}
		}
	}

	.sfo-cta{
		background: $mainColor;
		border: 2px solid $accentColor;
		border-radius: 2px;
		color: $accentColor;
		display: block;
		font-size: 12px;
		height: 40px;
		line-height: 40px;
		margin: 0 auto;
		padding: 0 12px;
		text-decoration: none;
		transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
		width: 60%;
		position: absolute;
		bottom: 12px;
		left: 0;
		right: 0;

		@media only screen and(max-width: 1199px) {
			font-size: 11px;
			padding: 0 8px;
		}


		&:after{
			content: "";
			float: right;
			font-family: "FontAwesome";
			line-height: 42px;
		}

		&:hover, &:focus{
			background: $accentColor;
			color: $mainColor;
		}
	}

	.all-gadgets{
		background-color: $accentColor;
		background: url("http://static.asadventure.com/includes/banner/special_flyout/150402-gifts-gadgets/images/background.jpg") no-repeat center center;
		background-size: cover;
		padding-bottom: 18px;

		@media only screen and(max-width: 1199px) {
			max-width: 187px;
			height: 215px;
		}

		@media only screen and(max-width: 979px) {
			height: 60px;
			max-width: 100%;
			width: 100%;
			background: $accentColor;

			p { display: none; }
		}

		.all-gadgets-filler{
			max-width: 100%;
			padding-bottom: 26%;
			width: 100%;

			@media only screen and(max-width: 1199px) {
				padding-bottom: 0;
			}

			@media only screen and(max-width: 979px) {
				float: left;

			}

			hr{
				background: $mainColor;
				border: none;
				height: 1px;
				margin: 1.5em auto 1.2em;
				width: 40%;

				@media only screen and(max-width: 1199px) {
					margin: 1.5em auto 2.6em;
				}

				@media only screen and(max-width: 979px) {
					display: none;
				}
			}
		}

		.sfo-cta{
			background: $accentColor;
			border: 2px solid $mainColor;
			//box-sizing: border-box;
			color: $mainColor;
			height: 40px;
			line-height: 40px;
			width: 70%;

			@media only screen and(max-width: 979px) {
				float: left;
				margin-top: 16px;
				width: 50%;
				margin-left: 25%; 
				bottom: 16px;
			}

			&:after{
				line-height: 39px;
			}
			
			&:hover, &:focus{
				background: $mainColor;
				color: $accentColor;
			}
		}
	}
}
